﻿@model Web.Models.WebViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Calculator for calculating the area</h1>

<form>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">R</span>
        <input type="text" name="R" value="@Model.R" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">L</span>
        <input type="text" name="L" value="@Model.L" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="d-grid gap-3">
        <div class="p-2 bg-light border">
            <p>Square: <b>@Model.mess</b></p>
        </div>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Calculate</button>
    </div>

</form>



